@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Rock+Salt&display=swap');

* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}

* {
    font-family: 'Playfair Display', serif;
}


@media screen and (min-width: 375px) and (max-width: 760px){
       
    /*HEADER*/
    .contenedor {
            display: flex;
            justify-content: center;
        }

        .logo {
            object-fit: cover;
        }

        .navbar {
            background-color: darkslategray;
        }

        .navbar button {
            background-color: white;
        }

        .navbar-brand {
            font-size: 25px;
            text-align: center;
            color: white;
        }

        #navbarText a {
            color: white;
        }

        .navbar-text {
            color: white;
        }

        .foto {
            width: 100%;
        }
    

    /*NOAH*/
        .noah-residencia p {
            text-align: center;
            padding: 1rem;
            font-size: 20px;
        }
        .noah-residencia article {
            text-align: center;
            font-size: 25px;
        }

        .noah-residencia b {
            color: darkslategray;
            font-size: 25px ;
        }

        /*SOBRE NOSOTROS*/

        .sobrenosotros {
            background-color: white;
            display: flex;
            flex-direction: column;
            
        }


        hr {border: 3px solid darkslategray; border-radius: 300px/10px; height: 0px; text-align: center;}

        .imagenes {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }
        
        .imagen {
            object-fit: cover;
            aspect-ratio: 1/1;
            transition: .5s;
           
        }

        .imagen:hover {
            transform: scale(1.1);
        }
        .info h2 {
            color: darkslategray;
            font-size: 25px;
            text-align: center;
            text-transform: uppercase;
        }

        .info p {
            font-size: 20px ;
            text-align: center;
        }



/*NUESTROS SERVICIOS*/

        .contenedor2 {
            background-color: white;
        }

        .imagenes2 {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }
        .foto2 {
             object-fit: cover;
             aspect-ratio: 1/1;
        }


        
        .texto2 h2 {
            color: darkslategray;
            font-size: 25px;
            text-align: center;
            text-transform: uppercase;
        }

        .texto2 p {
            font-size: 20px;
            text-align: center;
        }
        .texto2 h3 {
            text-align: center;
            color: darkslategray;
            text-decoration: underline solid black;
        }

        .texto2 li {
            font-size: 20px;
            align-items: center;
        }

      /*CONTACTO*/


        .informacion {
            height: 100%;
        }

        .imagenes-info {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
        }
    
        .contenedor__imagenes {
            @media screen and (min-width: 375px) and (max-width: 760px) {
                display: flex;
                align-items: center;
            }

        }

        .contenedor__imagenes p {
            padding-top:1rem;
        }

        .fotologs {
            width: auto;
            height: auto;
            @media screen and (min-width: 375px) and (max-width: 760px) {
                width: 5rem;
                height: 5rem;
            }

        }


        /*FORMULARIO*/


        .error {
            color: red;
        }

        .contenedor3 {
            background-color: darkslategray;
            margin-bottom: 4rem;

        }

        .input__items {
            padding: 1rem;
        }

        .contenedor3 input {
            width: 100%;
            border-radius: 25px;
            background-color:whitesmoke;
            padding: .5rem;
            margin-top: 1rem ;
        }

        textarea {
            width: 100%;
            margin-top: 1rem;
        }

        iframe {
            width: 350px;
        }


        /*GALERIA*/

        .galeria {
            margin-top: 4rem;
        }

        .galeria h2 {
            color: darkslategray;
            text-align: center;
            text-transform:uppercase ;
        }

        .flex-container h2{
            color: darkslategray;
        }

        .flex-container {
            display: flex;
            padding: 5px;
            flex-wrap: wrap;
        }
        
        .column img {
            width: 100%;
            margin-top: 5px;
        }
        
        .column{
            flex: 25%;
            padding: 5px;
        }
        
        @media (max-width: 800px) {
            .column {
                flex: 50%;
            }
        }
        
        @media (max-width: 600px) {
            .column{
                flex: 100%;
            }
        }
        /*FOOTER*/
        
        .footer {
            background-color: darkslategray;
        }

        .footer h3 {
            color: white;
            text-align: center;
            font-size: 20px;
        }

        .footer p {
            color: white;
        }


}

    

@media screen and (min-width:760px) and (max-width:1024px) {


    .navbar-brand {
        font-size: 25px;
        text-align: center;
        color: white;
    }

    #navbarText a {
        color: white;
    }

    .navbar-text {
        color: white;
    }
.navbar-toggler {
    background-color: white;
}

    hr {border: 3px solid darkslategray; border-radius: 300px/10px; height: 0px; text-align: center;}


    .navbar {
        background-color: darkslategray;
    }


    .collapse a {
        color: white;
    }
    .navbar a {
        color: white;
    }

    .contenedor {
        display: flex;
        justify-content: center;
    }

/*NOAH*/
    .noah-residencia b {
        color: darkslategray;
        font-size: 30px;
    }

    .noah-residencia article {
        text-align: center;
        font-size: 25px;
    }

    .noah-residencia p {
        font-size: 25px;
        text-align: center;

    }

    /*SOBRE NOSOTROS*/
    .sobrenosotros {
        margin: 0 auto;
        background-color: darkslategray;
        width: 100%;
        height: 100%;
        display: flex;
        padding: 1rem;
        gap: 1.5rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
        
    }
    
    .imagenes {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 100%;
    
    }
    
    .imagen {
        object-fit: cover;
        height: 17rem;
        aspect-ratio: 1/1;
        transition: .5s;
    }
    
    .imagen:hover {
        transform: scale(1.1);
        
    }
    
    .info {
        width: 100%;
    }
    
    .info p {
        font-size: 2rem;
        margin-bottom: 1rem;
        color: white;
    }
    
    .info h2 {
        color: white;
    }
    




    /*Nuestros Servicios*/
    .contenedor2 {
        margin: 0 auto;
        background-color: darkslategray;
        width: 100%;
        height: 100%;
        display: flex;
        padding: 1rem;
        gap: 2rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    
    .imagenes2 {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;
    }
    
    .foto2 {
        object-fit: cover;
        height: 17rem;
        aspect-ratio: 1/1;
        transition: .5s;
    }
    
    .foto2:hover {
        transform: scale(1.1);
    }
    
    .texto2 {
        width: 100%;
    }

    .texto2 h2 {
        color: white;
        text-align: center;
    }
    
    .texto2 p {
        font-size: 2rem;
        margin-bottom: 2rem;
        color: white;
    }

    .texto2 h3 {
        color: white;
        text-decoration: underline solid whitesmoke;
        text-align: center;
    }

    .texto2 li {
        color: white;
        font-size: 25px;
    }
    

    /*Contacto*/

    .informacion {
        height: 100%;
    }

    .imagenes-info {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .contenedor__imagenes {
        @media screen and (min-width: 760px) and (max-width: 1024px) {
            display: flex;
            align-items: center;
        }

    }

    .contenedor__imagenes p {
        padding-top:1rem;
    }

    .fotologs {
        width: auto;
        height: auto;
        @media screen and (min-width: 760px) and (max-width: 1024px) {
            width: 5rem;
            height: 5rem;
        }
      }
       
        .informacion h2 {
            text-align: center;
            color: darkslategray;
        }


    /*FORMULARIO DE CONTACTO*/
   
        .error {
            color: red;
        }

        .ache2_ {
            text-align: center;
            color: darkslategray;
            text-decoration: underline solid black;
        }
    .contenedor3 {
        background-color: darkslategray;
        margin-bottom: 4rem;

    }

    .input__items {
        padding: 1rem;
    }

    .contenedor3 input {
        width: 100%;
        border-radius: 25px;
        background-color:whitesmoke;
        padding: .5rem;
        margin-top: 1rem ;
    }

    textarea {
        width: 100%;
        margin-top: 1rem;
    }

    iframe {
        width: 760px;
    }

    .form {
        border-radius: 25px ;
        color: black;
        background-color: white;

    } 
}



/*GALERIA*/

.galeria {
    margin-top: 4rem;
}

.galeria h2 {
    color: darkslategray;
    text-align: center;
    text-transform:uppercase ;
}

.flex-container h2{
    color: darkslategray;
}

.flex-container {
    display: flex;
    padding: 5px;
    flex-wrap: wrap;
}

.column img {
    width: 100%;
    margin-top: 5px;
}

.column{
    flex: 25%;
    padding: 5px;
}

@media (max-width: 800px) {
    .column {
        flex: 50%;
    }
}

@media (max-width: 600px) {
    .column{
        flex: 100%;
    }
}


/*FOOTER*/

.footer {
    background-color: darkslategray;
}

.footer h3 {
    color: white;
    text-align: center;
    font-size: 20px;
}

.footer p {
    color: white;

}


   




    
@media screen and (min-width:1024px) and (max-width:1200px) {

    hr {border: 3px solid darkslategray; border-radius: 300px/10px; height: 0px; text-align: center;}

    .navbar-brand {
        font-size: 25px;
        text-align: center;
        color: white;
    }
    
    #navbarText a {
        color: white;
    }
    
    .navbar-text {
        color: white;
    }
    
    
    .contenedor {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 200px;
    }
    .contenedor img {
        display: flex;
        border-radius: 50%;
       margin: 0;
        filter: brightness(1.1);
        mix-blend-mode:multiply ;
    }
    
    body {
        background-color: white;
    }
    
    /*NAVBAR*/
    
    
    header {
        position: fixed;
        z-index: 10;
        background-color: white;
        width: 100%;
        margin-top: -4rem;
        transition: 1.2;
    }
    
    header:active {
        
    }
    
    .navbar {
        background-color: darkslategray;
        margin-top: -2rem;
        display: flex;
        width: 100%;
    }
    
    .navbar ul {
        justify-content: center;
    }
    
    
    .carrusel {
        justify-content: center;
        height: 50%;
        margin: auto;
        background-color: white;
      
    }
    
    .foto {
        display: flex;
        justify-content: center;
        object-fit: cover;
        height: 50rem;
        width: 50rem;
        margin: 0 auto;
        padding: 2rem;
    
    }
    
    .fotos {
        aspect-ratio: 1/1;
        object-fit: cover;
      
    }
    
    /*NOAH*/
    
    .noah-residencia b {
        color: darkslategray;
        font-size: 35px;
    }

    .noah-residencia article {
        text-align: center;
        font-size: 30px;
    }
    
    .noah-residencia p{
        text-align: center;
        font-size:30px;
    }
    
    
    /*Sobre Nosotros*/
    
    .sobrenosotros {
        margin: 0 auto;
        background-color: darkslategray;
        width: 80%;
        height: 100%;
        display: flex;
        padding: 1rem;
        gap: 3rem;
        margin-top: 2rem;
        margin-bottom: 8rem;
        
    }
    
    .imagenes {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;
    
    }
    
    .imagen {
        object-fit: cover;
        height: 17rem;
        aspect-ratio: 1/1;
        transition: .5s;
    }
    
    .imagen:hover {
        transform: scale(1.2);
        
    }
    
    .info {
        width: 100%;
    }
    
    .info p {
        font-size: 2rem;
        margin-bottom: 2rem;
        color: white;
    }
    
    .info h2 {
        color: white;
    }
    
    
  
    
    
    
    /*Nuestros Servicios*/
    
    .contenedor2 {
        margin: 0 auto;
        background-color: darkslategray;
        width: 80%;
        height: 100%;
        display: flex;
        padding: 1rem;
        gap: 2rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    
    .imagenes2 {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;
    }
    
    .foto2 {
        object-fit: cover;
        height: 17rem;
        aspect-ratio: 1/1;
        transition: .5s;
    }
    
    .foto2:hover {
        transform: scale(1.1);
    }
    
    .texto2 {
        width: 100%;
    }
    
    .texto2 h2 {
        color: white;
        text-align: center;
    }
    
    .texto2 p {
        font-size: 2rem;
        margin-bottom: 2rem;
        color: white;
    }
    
    .texto2 h3 {
        color: white;
        text-decoration: underline solid whitesmoke;
        text-align: center;
    }
    
    .texto2 li {
        color: white;
        font-size: 25px;
    }
    
    
    /*INFORMACION*/
    
    .informacion {
        height: 100%;
    }

    .imagenes-info {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .contenedor__imagenes {
        @media screen and (min-width: 1024px) and (max-width: 1200px) {
            display: flex;
            align-items: center;
        }

    }

    .contenedor__imagenes p {
        padding-top:1rem;
    }

    .fotologs {
        width: auto;
        height: auto;
        @media screen and (min-width: 1024px) and (max-width: 1200px) {
            width: 5rem;
            height: 5rem;
        }
      }
       
        .informacion h2 {
            text-align: center;
            color: darkslategray;
        }

    
    /*FORMULARIO DE CONTACTO*/
    
.error {
    color: red;
}

    .ache2_ {
        text-align: center;
        color: darkslategray;
        text-decoration: underline solid black;
    }
    .contenedor3 {
    background-color: darkslategray;
    margin-bottom: 4rem;
      }
    
    
    
    .input__items {
    padding: 1rem;
    }
    
    .contenedor3 input {
    width: 100%;
    border-radius: 25px;
    background-color:whitesmoke;
    padding: .5rem;
    margin-top: 1rem ;
    }
    
    textarea {
    width: 100%;
    margin-top: 1rem;
    }
    
    iframe {
    width: 760px;
    }
    
    
    .form {
        border-radius: 25px ;
        color: black;
        background-color: white;
        margin: 0 auto;
       
    
    } 
    
    
    
    
    /*GALERIA*/
    
    .flex-container {
        display: flex;
        padding: 5px;
        flex-wrap: wrap;
    }
    
    .column img {
        width: 100%;
        margin-top: 5px;
    }
    
    .column{
        flex: 25%;
        padding: 5px;
    }
    @media (max-width: 800px) {
        .column {
            flex: 50%;
        }
    }
    
    @media (max-width: 600px) {
        .column{
            flex: 100%;
        }
    }


}

@media screen and (min-width:1200px) {
    hr {border: 3px solid darkslategray; border-radius: 300px/10px; height: 0px; text-align: center;}
    .navbar-brand {
        font-size: 25px;
        text-align: center;
        color: white;
    }
    
    #navbarText a {
        color: white;
    }
    
    .navbar-text {
        color: white;
    }
    
    
    .contenedor {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 200px;
    }
    .contenedor img {
        display: flex;
        border-radius: 50%;
       margin: 0;
        filter: brightness(1.1);
        mix-blend-mode:multiply ;
    }
    
    body {
        background-color: white;
    }
    
    /*NAVBAR*/
    
    
    header {
        position: fixed;
        z-index: 10;
        background-color: white;
        width: 100%;
        margin-top: -4rem;
        transition: 1.2;
    }
    
    header:active {
        
    }
    
    .navbar {
        background-color: darkslategray;
        margin-top: -2rem;
        display: flex;
        width: 100%;
    }
    
    .navbar ul {
        justify-content: center;
    }
    
    
    .carrusel {
        justify-content: center;
        height: 50%;
        margin: auto;
        background-color: white;
      
    }
    
    .foto {
        display: flex;
        justify-content: center;
        object-fit: cover;
        height: 50rem;
        width: 50rem;
        margin: 0 auto;
        padding: 2rem;
    
    }
    
    .fotos {
        aspect-ratio: 1/1;
        object-fit: cover;
      
    }
    
    /*NOAH*/
    
    .noah-residencia b {
        color: darkslategray;
        font-size: 35px;
    }
    
    .noah-residencia article {
        text-align: center;
        font-size: 30px;
    }
    .noah-residencia p{
        text-align: center;
        font-size:30px;
    }
    
    
    /*Sobre Nosotros*/
    
    .sobrenosotros {
        margin: 0 auto;
        background-color: darkslategray;
        width: 80%;
        height: 100%;
        display: flex;
        padding: 1rem;
        gap: 3rem;
        margin-top: 2rem;
        margin-bottom: 8rem;
        
    }
    
    .imagenes {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;
    
    }
    
    .imagen {
        object-fit: cover;
        height: 17rem;
        aspect-ratio: 1/1;
        transition: .5s;
    }
    
    .imagen:hover {
        transform: scale(1.2);
        
    }
    
    .info {
        width: 100%;
    }
    
    .info p {
        font-size: 2rem;
        margin-bottom: 2rem;
        color: white;
    }
    
    .info h2 {
        color: white;
    }
    
    
    .boton {
        display: flex;
        justify-content: center;
    }
    
    
    
    
    /*Nuestros Servicios*/
    
    .contenedor2 {
        margin: 0 auto;
        background-color: darkslategray;
        width: 80%;
        height: 100%;
        display: flex;
        padding: 1rem;
        gap: 2rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    
    .imagenes2 {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;
    }
    
    .foto2 {
        object-fit: cover;
        height: 17rem;
        aspect-ratio: 1/1;
        transition: .5s;
    }
    
    .foto2:hover {
        transform: scale(1.1);
    }
    
    .texto2 {
        width: 100%;
    }
    
    .texto2 h2 {
        color: white;
        text-align: center;
    }
    
    .texto2 p {
        font-size: 2rem;
        margin-bottom: 2rem;
        color: white;
    }
    
    .texto2 h3 {
        color: white;
        text-decoration: underline solid whitesmoke;
        text-align: center;
    }
    
    .texto2 li {
        color: white;
        font-size: 25px;
    }
    
    
    /*INFORMACION*/
    
    .informacion {
        height: 100%;
    }
    
    .imagenes-info {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    
    .contenedor__imagenes {
        @media screen and (min-width: 1200px){
            display: flex;
            align-items: center;
        }
    
    }
    
    .contenedor__imagenes p {
        padding-top:1rem;
    }
    
    .fotologs {
        width: auto;
        height: auto;
        @media screen and (min-width: 1200px) {
            width: 5rem;
            height: 5rem;
        }
      }
       
        .informacion h2 {
            text-align: center;
            color: darkslategray;
        }
    
    /*FORMULARIO DE CONTACTO*/
    

    .error {
        color: red;
        width: 100%;
    }
    .ache2_ {
        text-align: center;
        color: darkslategray;
        text-decoration: underline solid black;
    }
    .contenedor3 {
    background-color: darkslategray;
    margin-bottom: 4rem;
    display: flex;
    justify-content: center;
   
    
    }
    
    .input__items {
    padding: 1rem;
    }
    
    .contenedor3 input {
    width: 40rem;
    border-radius: 25px;
    background-color:whitesmoke;
    padding: .5rem;
    margin-top: 1rem ;
    }
    
    textarea {
    width: 100%;
    margin-top: 1rem;
    }
    
    iframe {
    width: 1000px;
    }
    
    
    .form {
        border-radius: 25px ;
        color: black;
        background-color: white;
        margin: 0 auto;
       
    
    } 
    
    
    
    
    /*GALERIA*/
    
    .flex-container {
        display: flex;
        padding: 5px;
        flex-wrap: wrap;
    }
    
    .column img {
        width: 100%;
        margin-top: 5px;
    }
    
    .column{
        flex: 25%;
        padding: 5px;
    }
    @media (max-width: 800px) {
        .column {
            flex: 50%;
        }
    }
    
    @media (max-width: 600px) {
        .column{
            flex: 100%;
        }
    }
}